/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
  --background-color: #0d1117;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/*
  me first try
  dark -> #090D10
  light dark -> #11191f

  github
  light -> #f0f6fc
  dark -> #0d1117
  ligth dark -> #161b22
*/

html {
  position: relative;
  min-height: 100%;
}

.input-button-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.input-button-container .error {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  font-size: 0.8rem;
  color: var(--del-color);
}

.input-button-container > input {
  height: 3rem;
}

.input-button-container > button {
  width: auto;
  height: 3rem;
}

.list-container {
	padding: 0.5rem 1rem 1rem 0.5rem;
  border-radius: 0 0 5px 5px;
  margin-bottom: 1.5rem;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-light-dark {
  background-color: #161b22;
}

.safe-words {
  word-break: break-all;
}

a:focus {
  background-color: transparent;
}
